h1 {
	font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 32px;
}

h3 {
	font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 24px;
  color:#2e69a3;
}

h4 {
	font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 20px;
}

h5 {
	font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 17px;
}

h6 {
	font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 14px;
}

p {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: Chocolate;
}

ul {
	font-size: 14px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: Chocolate;
	}
	
.content {
	padding: 200px 0;
	margin: 30px;
	background-image: url(https://images.app.goo.gl/VFZfM4ZyLr5xZA5V8);
}


